*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
    background-color: lightcoral;
}



#hrakostky {
    
    padding: 10px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
        }
    #zprava {
        display: none;
        text-align: center;
        color: brown;
        }
    .tlacitko {
       padding: 10px;  
    }

    #kostka {
      position: relative;
      top: 10px;
      left: 40%;
      width: 25%;
      animation: spin 4s;
    }
    
    
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
        
    